html{
  background:
      repeating-linear-gradient(190deg, rgba(105, 2, 2, 0.5) 40px,
        rgba(19, 11, 0, 0.5) 80px, rgba(80, 8, 8, 0.5) 120px,
        rgba(1, 53, 1, 0.5) 160px, rgba(15, 15, 53, 0.5) 200px,
        rgba(46, 39, 51, 0.5) 240px, rgba(68, 1, 68, 0.5) 280px,
        rgba(19, 10, 53, 0.5) 300px),
      repeating-linear-gradient(-190deg, rgba(105, 2, 2, 0.5) 40px,
      rgba(19, 11, 0, 0.5) 80px, rgba(80, 8, 8, 0.5) 120px,
      rgba(1, 53, 1, 0.5) 160px, rgba(15, 15, 53, 0.5) 200px,
      rgba(46, 39, 51, 0.5) 240px, rgba(68, 1, 68, 0.5) 280px,
      rgba(19, 10, 53, 0.5) 300px),
      repeating-linear-gradient(23deg, rgb(61, 0, 0) 50px, rgb(61, 61, 60) 100px,
        rgb(36, 36, 1) 150px, rgb(1, 43, 1) 200px, rgb(15, 15, 43) 250px,
        rgb(45, 31, 56) 300px, rgb(44, 25, 44) 350px, rgb(58, 0, 0) 370px);
}

html, body, #root{
  height: 100%;
}

.App {
  text-align: center;
}


/* body {
  background-color: transparent;
  background: url('./landingPage.jpg') no-repeat center center fixed;
  background-size: cover;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
