

form {
display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
  margin-bottom: 0.4%;
}
.navbar-brand{
  padding-left:2%;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

form label {
  font-size: 16px;
}

input[type="radio"] {
  display: none;
}

label {

    display: inline-block;
    margin-bottom: 0.5rem;

  color: white;
}

#estrellas{
 font-size: 150%;
}

.rating { /* invierto las estrellas del rating para poder seleccionar todos los elementos de procedan a determinara etiqueta,id, etc */
  direction: rtl; /* right to left */
  unicode-bidi: bidi-override; /* bidi de bidireccional */
}

/* #estrellas:hover{
  color:orange;
} */

#estrellas:hover,
#estrellas:hover ~ #estrellas {
  color: orange;
  cursor: pointer;
}

input[type="radio"]:checked ~ #estrellas {
  color: orange;
}

input[type="radio"]{
  box-sizing: border-box;
  padding: 0;
  margin-left: 3px;
  margin-right: 12px;
}


.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  vertical-align: middle;
  cursor: pointer;
}

.has-error
 {
   color: red;
  border-color: red;
  border-width: thick;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.title-addgame {
  position:absolute;
    width: 100%;
    margin-top: 1%;
}

.badge-dark-light {
  color: #fff;
  background-color: #575a5e;
}

.badge-pill {
      font-family: fangsong;
    font-size: larger;
  padding-right: 0.6em;
  padding-left: 0.6em;
  margin: 0.2%;
  border-radius: 10rem;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

input[type="checkbox"] {
  display: none;
}

.genres{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
margin-inline: 20%;
}

.platforms{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 20%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}