.button {
    padding: .6rem 1.5rem;
    /* text-transform: uppercase; */
    font-weight: 600;
    font-size: .8rem;
}

.buttons-menu-list{
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
        width: 105%;
}

.button-menu-list{
    background-color: #0000004a;
    color: white;
    margin: 0.4%;
    border-radius: 0;
    border: 1px double;
}

.button-menu-list:hover{
    background-color: black;  
    color: #ffc107;  
}

.button-menu{
position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button-search{
background-color: transparent;
    color: white;
    border: double;
    padding: 4px 12px;
    margin-top: 1%;
    width: 100%;
}

.button-search:hover{
background-color: white;
    color: black;
    border: 1px solid black;
    border: double;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: white;
  border: 1px solid #000000;
  color: black;
  border: 1px solid black;
  border:double;
}

.button-primary-active {
background-color: black;
    color: #ffc107;
    border-radius: 0;
    border: 3px double;
}

.button-primary-inactive {
background-color: #0000003d;
    color: white;
    border-radius: 0;
    border: double;
    margin: 0.1%;
}
.buttons-functions{
    margin-inline: 2%;
    padding-top: 1%;
    
    display: flex;
    justify-content: center;
}
 .background-games{
    height: 100vh;
 }